

<div class="title-container">
  <div class="title-content">
    <h1 class="textColor1">Scraped Articles</h1>
    <p class="textColor1">all about Technology</p>
  </div>
</div>

<ul>
  {{#each articles}}
  <div class="card">
    <div class="card-header">
      <a href="{{this.url}}"></a>
      {{this.headline}}
      <button data-articleId="{{this.id}}" class="saveArticle btn btn-primary">Save Article</button>
    </div>
    <div class="card-body">
      <p>{{this.summary}}</p>
    </div>
  </div>
  {{/each}}
</ul>

