#footer{
	width: 100%;
	height: 100px;
	background-color: green;
}
.card{
	margin: 20px;
}
.title-container{
	height: 70vh;
	width: 100%;
	background-image: url("/assets/images/bg.jpg");
	background-size: cover;
	background-size: center;
}
.title-content{
	width: 100%;
	padding-top: 200px;
	text-align: center;
}
.textColor1{
	color: white;
}
#startScrape{
	background-color: red;
	color: white;
	padding: 6px 25px;
	text-align: center;
}